
# Configurações
Options -Indexes
Options +FollowSymLinks

SetEnv APPLICATION_ENV development
SetEnv PUBLIC_DIR public_html
SetEnv APPLICATION_CACHE 0
SetEnv APPLICATION_DBCACHE 0

# Rewrite
RewriteEngine On

# Basepath
RewriteBase /phpmypanel/public_html

# Images
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^images/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)$ assets/images/$1/$2/$3/$4/$5/$6 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^assets/images/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)$ index.php?param=tbimage&tipo=$1&crop=$2&largura=$3&altura=$4&imagem=$5&titulo=$6 [QSA,L]

# Rewrite do slim
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
